
.background{
  background: linear-gradient(to bottom, #020B29 30%, rgba(0, 0, 0, 0) 100%) !important;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 0;
}

.page{
  z-index: 1;
}

a{
  color: var(--primary-color);
}

.activity-div{
  h1{
    z-index: 10;
    color:white;
    margin: 30px auto;
    letter-spacing: 0.1em;
    font-size: 2.5em;
    text-transform: uppercase;

    @media (max-width: 425px) {
      font-size: 32px;
      line-height: 45px;
    }
  }

  div{
    color: rgba(255, 255, 255, 0.79);
  }
}

button {
  z-index: 10;
  text-transform: uppercase;
  color: white !important;
  background: var(--primary-color) !important;
  padding: 20px;
  margin-top: 15px;
  border: var(--primary-color) 2px solid;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 20px;

  &:hover {
    background: #001f3f !important;
    color: white;
  }

}


.center-wrapper{
  @media (max-width: 850px) {
    flex-direction: column !important;
  }
}

.text{
  font-size: 17px;
  width: 65% !important;
  text-align: left;
  z-index: 10;

  @media (max-width: 850px) {
    width: 80% !important;
    text-align: justify;
    margin: auto
  }
}

.img{
  z-index: 10;
  width: 35% !important;
  margin-left: 30px;
  margin-top: 30px;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  min-height: 200px;
  min-width: 300px;
  max-height: 900px;


  @media (max-width: 850px) {
    margin: auto;
    margin-top: 30px;
    width: 250px !important;
    max-width: 250px !important;
    min-height: 0;
    height: 300px;
  }
}

