@import "./../../../../app/custom-theme.scss";


a{
  color: var(--primary-color);
}

.activity-div{
  h1{
    color:white;
    margin: 30px auto;
    letter-spacing: 0.1em;
    font-size: 2.5em;
    text-transform: uppercase;

    @media (max-width: 425px) {
      font-size: 32px;
      line-height: 45px;
    }
  }

  div{
    color: rgba(255, 255, 255, 0.71);
  }
}

button {
  background-color: var(--primary-color) !important;
  text-transform: uppercase;
  border-radius: 10px;
  color: white;
  padding: 20px;
  margin-top: 15px;

  &:hover {
    cursor: pointer;
    opacity: 0.85;
  }
}


.center-wrapper{
  @media (max-width: 850px) {
    flex-direction: column !important;
  }
}

.text{
  font-size: 17px;
  width: 65% !important;
  text-align: left;

  @media (max-width: 850px) {
    width: 80% !important;
    text-align: justify;
    margin: auto
  }
}

.img{
  width: 35% !important;
  margin-left: 30px;
  margin-top: 30px;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  min-height: 200px;
  min-width: 300px;
  max-height: 900px;


  @media (max-width: 850px) {
    margin: auto;
    margin-top: 30px;
    width: 250px !important;
    max-width: 250px !important;
    min-height: 0;
    height: 300px;
  }
}
