<div
  class="footer-container is-flex is-flex-direction-column is-align-items-center p-5"
>
  <div
    class="social-icons is-flex is-flex-direction-row is-justify-content-space-between is-centered"
  >
    <a href="https://www.facebook.com/konteh.eestec/" target="_blank">
      <button mat-icon-button class="social-button">
        <img class="social-icon clickable" src="../../../assets/facebook.png" />
      </button>
    </a>

    <a href="https://www.instagram.com/konteh_sajam" target="_blank">
      <button mat-icon-button class="social-button ml-5">
        <img
          class="social-icon clickable"
          src="../../../assets/instagram.png"
        />
      </button>
    </a>

    <a href="https://www.linkedin.com/company/konteh" target="_blank">
      <button mat-icon-button class="social-button ml-5">
        <img class="social-icon clickable" src="../../../assets/linkedin.png" />
      </button>
    </a>
  </div>

  <div class="align-center stretch-width">
    <a href="http://www.eestecns.org" target="_blank">
      <h2 class="align-center clickable">©EESTEC LC Novi Sad</h2>
    </a>
  </div>
</div>
