<div
  class="footer-container is-flex is-flex-direction-column is-align-items-center p-5"
>
  <div
    class="social-icons is-flex is-flex-direction-row is-justify-content-space-between is-centered"
  >
    <button mat-icon-button class="social-button" (click)="openFacebook()">
      <img class="social-icon clickable" src="../../../assets/facebook.png" />
    </button>

    <button
      mat-icon-button
      class="social-button ml-5"
      (click)="openInstagram()"
    >
      <img class="social-icon clickable" src="../../../assets/instagram.png" />
    </button>

    <button mat-icon-button class="social-button ml-5" (click)="openLinkedin()">
      <img class="social-icon clickable" src="../../../assets/linkedin.png" />
    </button>
  </div>

  <div class="align-center stretch-width">
    <h2 class="align-center clickable" (click)="openEestec()">
      ©EESTEC LC Novi Sad
    </h2>
  </div>
</div>
