@import "./../../../../app/custom-theme.scss";

.about-section {
}

.about-section h1 {
  font-size: 55px;
  line-height: 68px;
  font-weight: 500;
  margin: 20px auto;
}

.about-section h2 {
  font-size: 30px;
  line-height: 35px;
  font-weight: 600;
  color: $blue;
  margin: 40px auto;
}

hr {
  width: 40%;
  border: 1px solid $blue;
}

.section-2 {
  background-color: white;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 20px;
  padding-bottom: 50px;
}

.section-4 {
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.section-4 h2 {
  color: white;
  margin-top: 0px;
}

.section-4 p {
  color: white;
  font-size: 18px;
  font-weight: 800;
}

.section-6 {
  margin-top: 100px;
  margin-bottom: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
}

.section-6 p {
  font-size: 16px;
}

.section-6 h2 {
  margin-top: 0px;
}

.square-image {
  width: 33% !important;
  display: inline-block;
}
