<video autoplay muted loop playsinline class="video-bg">
  <source src="/assets/background_video1.mp4" type="video/mp4">
</video>
<div class="overlay"></div>
<div class="page_content">

<div class="is-flex is-flex-direction-column about-section">
  <div class="has-text-centered mb-5">
    <h1 class="mb-5">O KONTEH-u</h1>
  </div>

  <div class="mt-5">
    <div class="columns max-width-1200 auto-margin">
      <div
        class="column is-flex is-flex-direction-column is-justify-content-space-around"
      >
        <img class="round-borders" src="/assets/konteh1.jpg" />
      </div>
      <div class="column pl-5">
        <h2>Šta je KONTEH?</h2>
        <hr />
        <p>
          <strong>KONTEH</strong> predstavlja jedinstveni Sajam, koji pored
          prilika za zapošljavanje nudi i raznovrsnu ponudu stručnih praksi, i
          kao takav može da poveže kompanije sa dve bitne tačke za njihov
          razvoj: obrazovnim institucijama i ljudskim resursima (studentima,
          odnosno diplomcima kao kandidatima za posao). <br /><br />
          Sajam poslovnih mogućnosti i stručnih praksi
          <strong>KONTEH</strong> pruža kompanijama mogućnost da se predstave i
          upoznaju sa najkvalitetnijim visoko obrazovnim kadrom koji dolazi sa
          Univerziteta u Novom Sadu i to kroz direktan kontakt sa
          zainteresovanim studentima i diplomcima tokom dva dana trajanja Sajma,
          gde se kompanijama nudi mogućnost obavljanja prvog intervjua već na
          licu mesta.
        </p>
      </div>
    </div>
  </div>


  <div class="section-4 gradient-background">
    <div class="columns max-width-1200 auto-margin">
      <div class="column">
        <div
          class="stretch-height is-flex is-flex-direction-column is-justify-content-space-around px-5"
        >
          <div>
            <h2>Organizacija</h2>
            <p>
              Studentska organizacija EESTEC LC Novi Sad, želeći da studentima i
              diplomcima Univerziteta u Novom Sadu predstavi mogućnosti
              zaposlenja i razvoja karijere u kompanijama koje posluju u našoj
              zemlji, organizuje KONTEH – Sajam poslovnih mogućnosti i stručnih
              praksi, na najvećem fakultetu u Republici Srbiji, Fakultetu
              tehničkih nauka u Novom Sadu.
            </p>
            <div class="mt-5">
              <a mat-raised-button class="submit-btn" href="https://cv.konteh.org/" target="_blank"
                >Zauzmi svoje mesto</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <img class="round-borders" src="/assets/konteh.jpg" />
      </div>
    </div>
  </div>

  <div class="section-6">
    <div class="max-width-1200 auto-margin">
      <div class="columns">
        <!-- Image column moved first -->
        <div class="column is-4">
          <img class="round-borders" src="/assets/konteh12.jpg" />
        </div>
        <!-- Text column moved second -->
        <div
          class="column is-flex is-flex-direction-column is-justify-content-center"
        >
          <div>
            <p>
              Organizacioni tim sajma KONTEH čine aktivni članovi udruženja
              studenata EESTEC, u ambiciji da i ove godine ostvare fundamentalnu
              kariku između kompanija i studenata u potrazi za stručnom praksom
              i prvim uspešnim koracima ka razvoju svoje karijere.
            </p>
            <p>
              EESTEC (Electrical Engineering Students’ European Association) je
              neprofitno, nepolitičko udruženje studenata osnovano u cilju da
              poveže studente elektrotehnike i računarstva širom Evrope. EESTEC
              LC Novi Sad osnovan je 2001. godine i okuplja studente Fakulteta
              tehničkih nauka u Novom Sadu sa brojnih odseka elektrotehnike.
              Danas naš lokalni komitet broji preko 320 članova i jedan je od
              najaktivnijih i najbrojnijih.
            </p>
            <p>
              Pored KONTEH-a, EESTEC LC Novi Sad godinama organizuje još mnoge
              projekte, kao što su Soft Skills Academy, razmene studenata i
              EESTech challenge. Više o nama možete pročitati na
              <a href="http://www.eestecns.org" target="_blank"
              >EESTEC LC Novi Sad</a
              >.
            </p>
            <button
              class="mt-5 submit-btn"
              mat-flat-button
              (click)="openPolicy()"
            >
              Politika privatnosti
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="section-7">
    <div class="max-width-1200 auto-margin">
      <lightgallery [settings]="settings">
        <a href="/assets/konteh14.jpg">
          <div class="square-image">
            <square-image imgSrc="/assets/konteh14.jpg"> </square-image>
          </div>
        </a>

        <a href="/assets/konteh9.jpg">
          <div class="square-image">
            <square-image imgSrc="/assets/konteh9.jpg"> </square-image>
          </div>
        </a>

        <a href="/assets/konteh2.jpg">
          <div class="square-image">
            <square-image imgSrc="/assets/konteh2.jpg"> </square-image>
          </div>
        </a>

        <a href="/assets/konteh3.jpg">
          <div class="square-image">
            <square-image imgSrc="/assets/konteh3.jpg"> </square-image>
          </div>
        </a>

        <a href="/assets/konteh4.jpg">
          <div class="square-image">
            <square-image imgSrc="/assets/konteh4.jpg"> </square-image>
          </div>
        </a>

        <a href="/assets/konteh5.jpg">
          <div class="square-image">
            <square-image imgSrc="/assets/konteh5.jpg"> </square-image>
          </div>
        </a>

        <a href="/assets/konteh6.jpg">
          <div class="square-image">
            <square-image imgSrc="/assets/konteh6.jpg"> </square-image>
          </div>
        </a>

        <a href="/assets/konteh15.jpg">
          <div class="square-image">
            <square-image imgSrc="/assets/konteh15.jpg"> </square-image>
          </div>
        </a>

        <a href="/assets/konteh8.jpg">
          <div class="square-image">
            <square-image imgSrc="/assets/konteh8.jpg"> </square-image>
          </div>
        </a>
      </lightgallery>
    </div>
  </div>

</div>

