@import "./../../../../app/custom-theme.scss";

.video-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
.page_content{
  z-index: 10;
}

.companies-section {
  z-index: 10;
}

.about-section {
}

.has-text-centered.mb-5 {
  margin-bottom: 0 !important;
}

.about-section h1 {
  color:white;
  margin: 30px auto;
  letter-spacing: 0.1em;
  font-size: 2rem;
  margin-bottom: 0;
}

.about-section h2 {
  font-size: 30px;
  line-height: 35px;
  font-weight: 600;
  color: white;
  margin: 40px auto;
}

hr {
  width: 40%;
  border: 1px solid $blue;
}

.section-2 {
  background-color: white;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 20px;
  padding-bottom: 50px;
}

.section-7 {
  background-color: white;
  margin-top: 100px;
  /*margin-bottom: 100px;*/
  padding-top: 20px;
  padding-bottom: 50px;
}

.section-4 {
  /*margin-top: 100px;*/
  margin-bottom: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.section-4 h2 {
  color: white;
  margin-top: 0px;
}

.section-4 p {
  color: white;
  font-size: 18px;
  font-weight: 800;
}

.section-6 {
  margin-top: 100px;
  margin-bottom: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
}

.section-6 p {
  font-size: 16px;
}

.section-6 h2 {
  margin-top: 0px;
}

.square-image {
  width: 33% !important;
  display: inline-block;
}

