<div class="header-cover"></div>

<div class="is-flex is-flex-direction-column about-section">
  <div class="has-text-centered mb-5">
    <h1 class="mb-5">O KONTEH-u</h1>
  </div>

  <div class="mt-5">
    <div class="columns max-width-1200 auto-margin">
      <div
        class="column is-flex is-flex-direction-column is-justify-content-space-around"
      >
        <img class="round-borders" src="/assets/konteh1.jpg" />
      </div>
      <div class="column pl-5">
        <h2 class="gradient-text alt-font">Šta je KONTEH?</h2>
        <hr />
        <p>
          <strong>KONTEH</strong> predstavlja jedinstveni Sajam, koji pored
          prilika za zapošljavanje nudi i raznovrsnu ponudu stručnih praksi, i
          kao takav može da poveže kompanije sa dve bitne tačke za njihov
          razvoj: obrazovnim institucijama i ljudskim resursima (studentima,
          odnosno diplomcima kao kandidatima za posao). <br /><br />
          Sajam poslovnih mogućnosti i stručnih praksi
          <strong>KONTEH</strong> pruža kompanijama mogućnost da se predstave i
          upoznaju sa najkvalitetnijim visoko obrazovnim kadrom koji dolazi sa
          Univerziteta u Novom Sadu i to kroz direktan kontakt sa
          zainteresovanim studentima i diplomcima tokom dva dana trajanja Sajma,
          gde se kompanijama nudi mogućnost obavljanja prvog intervjua već na
          licu mesta.
        </p>
      </div>
    </div>
  </div>

  <div class="section-2">
    <div class="max-width-1000 auto-margin px-3">
      <div class="columns">
        <div class="column">
          <h2 class="gradient-text alt-font">Šta vas očekuje na Akademskim danima?</h2>
          <hr />
          <p>
            Ovaj trodnevni akademski program održaće se u Naučno-tehnološkom parku. 
            Prvog dana ćete imati priliku da prisustvujete panel diskusiji vođenoj od 
            strane stručnjaka koji će razmatrati ključne teme. Sledećeg dana će se održati predavanja
            u okviru 4 različita track-a na aktuelne teme industrije. Takođe, pored predavanja,
            biće Speed dating sa kompanijama učesnicama, NGO i SartUP zona. Poslednjeg dana,   
            fokus će biti na studiji slučaja, gde ćete sa svojim timom imati priliku da rešavate probleme
            određene teme. 
          </p>
        </div>
        <div
          class="column is-4 is-flex is-flex-direction-column is-justify-content-space-around"
        >
          <img class="round-borders" src="/assets/konteh11.jpg" />
        </div>
      </div>
    </div>
  </div>

  <div class="mt-5">
    <div class="columns max-width-1200 auto-margin">
      <div
        class="column is-flex is-flex-direction-column is-justify-content-space-around"
      >
        <img class="round-borders" src="/assets/konteh16.jpg" />
      </div>
      <div class="column pl-5">
        <h2 class="gradient-text alt-font">Šta Vas očekuje na Sajmu?</h2>
        <hr />
        <p>
          U toku Sajma kompanije izlagači će, kao i prethodnih godina, imati
          priliku da predstave svoju delatnost studentima kako pomoću
          promotivnog materijala i kroz neposredni kontakt sa njima, tako i
          kroz
          <strong>prezentacije</strong> koje će biti otvorene za sve posetioce
          Sajma. Studenti i kandidati za posao će, sa druge strane, pored
          mogućnosti da na licu mesta
          <strong>uruče svoj CV poslodavcima</strong>
          za koje su zainteresovani, moći isti da ostave i u elektronskoj bazi
          koja će biti na raspolaganju svim kompanijama-učesnicama tokom
          narednih godinu dana, čime direktno sebi uvećavaju šansu za
          dobijanje radnog mesta ili prakse.
        </p>
      </div>
    </div>
  </div>

  <div class="section-7">
    <div class="max-width-1200 auto-margin">
      <lightgallery [settings]="settings">
        <a href="/assets/konteh14.jpg">
          <div class="square-image">
            <square-image imgSrc="/assets/konteh14.jpg"> </square-image>
          </div>
        </a>

        <a href="/assets/konteh9.jpg">
          <div class="square-image">
            <square-image imgSrc="/assets/konteh9.jpg"> </square-image>
          </div>
        </a>

        <a href="/assets/konteh2.jpg">
          <div class="square-image">
            <square-image imgSrc="/assets/konteh2.jpg"> </square-image>
          </div>
        </a>

        <a href="/assets/konteh3.jpg">
          <div class="square-image">
            <square-image imgSrc="/assets/konteh3.jpg"> </square-image>
          </div>
        </a>

        <a href="/assets/konteh4.jpg">
          <div class="square-image">
            <square-image imgSrc="/assets/konteh4.jpg"> </square-image>
          </div>
        </a>

        <a href="/assets/konteh5.jpg">
          <div class="square-image">
            <square-image imgSrc="/assets/konteh5.jpg"> </square-image>
          </div>
        </a>

        <a href="/assets/konteh6.jpg">
          <div class="square-image">
            <square-image imgSrc="/assets/konteh6.jpg"> </square-image>
          </div>
        </a>

        <a href="/assets/konteh15.jpg">
          <div class="square-image">
            <square-image imgSrc="/assets/konteh15.jpg"> </square-image>
          </div>
        </a>

        <a href="/assets/konteh8.jpg">
          <div class="square-image">
            <square-image imgSrc="/assets/konteh8.jpg"> </square-image>
          </div>
        </a>
      </lightgallery>
    </div>
  </div>

  <div class="section-4 gradient-background">
    <div class="columns max-width-1200 auto-margin">
      <div class="column">
        <div
          class="stretch-height is-flex is-flex-direction-column is-justify-content-space-around px-5"
        >
          <div>
            <h2>Organizacija</h2>
            <p>
              Studentska organizacija EESTEC LC Novi Sad, želeći da studentima i
              diplomcima Univerziteta u Novom Sadu predstavi mogućnosti
              zaposlenja i razvoja karijere u kompanijama koje posluju u našoj
              zemlji, organizuje KONTEH – Sajam poslovnih mogućnosti i stručnih
              praksi, na najvećem fakultetu u Republici Srbiji, Fakultetu
              tehničkih nauka u Novom Sadu.
            </p>
            <div class="mt-5">
              <a mat-raised-button href="https://cv.konteh.org/" target="_blank"
                >ZAUZMI SVOJE MESTO</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <img class="round-borders" src="/assets/konteh.jpg" />
      </div>
    </div>
  </div>

  <div class="section-5 max-width-1200 auto-margin">
    <div class="columns">
      <div class="column is-7">
        <img class="round-borders" src="/assets/konteh13.jpg" />
      </div>
      <div
        class="column is-flex is-flex-direction-column is-justify-content-center"
      >
        <div>
          <strong>KONTEH</strong> predstavlja jedinstveni sajam, koji pored
          prilika za zapošljavanje nudi i raznovrsnu ponudu stručnih praksi, i
          kao takav može da poveže kompanije sa dve bitne tačke za njihov
          razvoj: obrazovnim institucijama i ljudskim resursima (studentima,
          odnosno diplomcima kao kandidatima za posao).<br /><br />
          <strong>KONTEH</strong> pruža kompanijama mogućnost da se predstave i
          upoznaju sa najkvalitetnijim visoko obrazovnim kadrom koji dolazi sa
          Univerziteta u Novom Sadu i to kroz direktan kontakt sa
          zainteresovanim studentima i diplomcima tokom dva dana trajanja Sajma,
          gde se kompanijama nudi mogućnost obavljanja prvog intervjua već na
          licu mesta. <br /><br />
          Sajam KONTEH (Kontakti u tehnici)
          <strong>prvi put organizovan je 2006. godine</strong> i od tada se
          tradicionalno realizuje svake godine u kontinualno rastućem spektru
          studenata i kompanija. Tim koordinatora menja se na godišnjem nivou,
          kako bi se podsticao eksplorativni karakter samog projekta, te dao
          priliku za uvođenje inovacija koju svaka nova generacija donosi!
        </div>
      </div>
    </div>
  </div>

  <div class="section-6">
    <div class="max-width-1200 auto-margin">
      <div class="columns">
        <div
          class="column is-flex is-flex-direction-column is-justify-content-center"
        >
          <div>
            <h2 class="gradient-text alt-font">Organizatori</h2>
            <p>
              Organizacioni tim sajma KONTEH čine aktivni članovi udruženja
              studenata EESTEC, u ambiciji da i ove godine ostvare fundamentalnu
              kariku između kompanija i studenata u potrazi za stručnom praksom
              i prvim uspešnim koracima ka razvoju svoje karijere.
            </p>
            <p>
              EESTEC (Electrical Engineering Students’ European Association) je
              neprofitno, nepolitičko udruženje studenata osnovano u cilju da
              poveže studente elektrotehnike i računarstva širom Evrope. EESTEC
              LC Novi Sad osnovan je 2001. godine i okuplja studente Fakulteta
              tehničkih nauka u Novom Sadu sa brojnih odseka elektrotehnike.
              Danas naš lokalni komitet broji preko 320 članova i jedan je od
              najaktivnijih i najbrojnijih.
            </p>
            <p>
              Pored KONTEH-a, EESTEC LC Novi Sad godinama organizuje još mnoge
              projekte, kao što su Soft Skills Academy, razmene studenata i
              EESTech challenge. Više o nama možete pročitati na
              <a href="http://www.eestecns.org" target="_blank"
                >EESTEC LC Novi Sad</a
              >.
            </p>
            <button
              class="mt-5"
              mat-flat-button
              color="accent"
              (click)="openPolicy()"
            >
              Politika privatnosti
            </button>
          </div>
        </div>
        <div class="column is-4">
          <img class="round-borders" src="/assets/konteh12.jpg" />
        </div>
      </div>
    </div>
  </div>
</div>
