<div class="header-cover"></div>

<div class="is-flex is-flex-direction-column about-section">
  <div class="has-text-centered mb-5">
    <h1 class="mb-5">O KONTEH-u</h1>
  </div>

  <div class="mt-5">
    <div class="columns max-width-1200 auto-margin">
      <div class="column">
        <img src="/assets/konteh1.jpg" />
      </div>
      <div class="column pl-5">
        <h2 class="gradient-text alt-font">Šta je KONTEH?</h2>
        <hr />
        <p>
          <strong>KONTEH</strong> predstavlja jedinstveni Sajam, koji pored
          prilika za zapošljavanje nudi i raznovrsnu ponudu stručnih praksi, i
          kao takav može da poveže kompanije sa dve bitne tačke za njihov
          razvoj: obrazovnim institucijama i ljudskim resursima (studentima,
          odnosno diplomcima kao kandidatima za posao). Sajam poslovnih
          mogućnosti i stručnih praksi <strong>KONTEH</strong> pruža kompanijama
          mogućnost da se predstave i upoznaju sa najkvalitetnijim visoko
          obrazovnim kadrom koji dolazi sa Univerziteta u Novom Sadu i to kroz
          direktan kontakt sa zainteresovanim studentima i diplomcima tokom dva
          dana trajanja Sajma, gde se kompanijama nudi mogućnost obavljanja
          prvog intervjua već na licu mesta.
        </p>
      </div>
    </div>
  </div>

  <div class="section-2">
    <div class="max-width-800 auto-margin">
      <h2 class="gradient-text alt-font">Šta Vas očekuje na Sajmu?</h2>
      <hr />
      <p>
        U toku Sajma kompanije izlagači će, kao i prethodnih godina, imati
        priliku da predstave svoju delatnost studentima kako pomoću promotivnog
        materijala i kroz neposredni kontakt sa njima, tako i kroz
        <strong>prezentacije</strong> koje će biti otvorene za sve posetioce
        Sajma. Studenti i kandidati za posao će, sa druge strane, pored
        mogućnosti da na licu mesta
        <strong>uruče svoj CV poslodavcima</strong>
        za koje su zainteresovani, moći isti da ostave i u elektronskoj bazi
        koja će biti na raspolaganju svim kompanijama-učesnicama tokom narednih
        godinu dana, čime direktno sebi uvećavaju šansu za dobijanje radnog
        mesta ili prakse. Pored prezentacija kompanija, u toku trajanja Sajma u
        Svečanoj sali Fakulteta tehničkih nauka biće organizovane
        <strong>tribine i treninzi</strong> čiji je glavni cilj obuka mladih
        interesenata za posao da pravilno napišu CV i što uspešnije obave
        intervju za posao.
      </p>
    </div>
  </div>

  <div class="section-3">
    <div class="columns max-width-1200 auto-margin">
      <div class="column">
        <img src="/assets/konteh2.jpg" />
        <img src="/assets/konteh3.jpg" />
        <img src="/assets/konteh4.jpg" />
      </div>
      <div class="column">
        <img src="/assets/konteh5.jpg" />
        <img src="/assets/konteh7.jpg" />
        <img src="/assets/konteh6.jpg" />
      </div>
      <div class="column">
        <img src="/assets/konteh9.jpg" />
        <img src="/assets/konteh8.jpg" />
        <img src="/assets/konteh10.jpg" />
      </div>
    </div>
  </div>

  <div class="section-4 gradient-background">
    <div class="columns max-width-1200 auto-margin">
      <div class="column">
        <div
          class="stretch-height is-flex is-flex-direction-column is-justify-content-space-around px-5"
        >
          <div>
            <p>
              Studentska organizacija EESTEC LC Novi Sad, želeći da studentima i
              diplomcima Univerziteta u Novom Sadu predstavi mogućnosti
              zaposlenja i razvoja karijere u kompanijama koje posluju u našoj
              zemlji, organizuje KONTEH – Sajam poslovnih mogućnosti i stručnih
              praksi, na najvećem fakultetu u Republici Srbiji, Fakultetu
              tehničkih nauka u Novom Sadu.
            </p>
            <div class="mt-5">
              <a mat-raised-button href="https://cv.konteh.org/" target="_blank"
                >ZAUZMI SVOJE MESTO</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <img src="/assets/konteh.jpg" />
      </div>
    </div>
  </div>
</div>
