<div class="container-div">
  <div class="content-div">
    <h1>Pravila privatnosti EESTEC LC Novi Sad</h1>
    <p>
      Udruženje studenata EESTEC LC Novi Sad vodi internet stranicu konteh.org
      koja pruža informacije o sajmu KONTEH kao i Aplikaciju na domenu
      cv.konteh.org koja omogućava povezivanje lica zainteresovanih za
      zaposlenje i stručnu praksu i kompanija učesnica KONTEH Sajma. Ova Pravila
      Privatnosti služe za informisanje posetilaca stranice o našim pravilima
      prikupljanja, korišćenja i otkrivanja ličnih podataka korisnika KONTEH
      aplikacije. Ukoliko se odlučite na korišćenje naše usluge, onda se slažete
      sa prikupljanjem i upotrebom informacija na način opisan u ovim Pravilima
      Privatnosti. Lične informacije koje prikupljamo koriste se isključivo za
      pružanje i unapređenje usluge. Vaše lične podatke ćemo koristiti na način
      opisan u Pravilima Privatnosti i deliti isključivo sa licima i kompanijama
      navedenim u pravilima. Naša Pravila Privatnosti kreirana je uz pomoć
      obrazca Terms and Conditions Template i Online Privacy Policy Template.
    </p>
    <h2>Prikupljanje i upotreba informacija</h2>
    <p>
      Popunjavanje ličnog profila u okviru naše Aplikacije podrazumeva
      dostavljanje mnoštva ličnih informacija poput imena i prezimena,
      elektronske adrese, načina obrazovanja… Pristup Vašim inofrmacijama će
      pored nas imati i kompanije učesnice Sajma za tekuću godinu, čiju listu
      možete pronaći na konteh.org internet stranici. Informacije koje
      sakupljamo biće upotrebljene da Vas kontaktiramo ili prepoznamo.
    </p>
    <h2>Čuvanje dodatnih informacija</h2>
    <p>
      Želimo da Vas obavestimo da kada god posetite naš Sajt i Aplikaciju, mi
      prikupljamo informacije koje nam Vaš pretraživač šalje. U pitanju su
      informacije kao što su Internet Protokol (“IP”) adresa Vašeg računara,
      verzija pretraživača, stranice našeg Sajta i Aplikacije koje ste posetili,
      vreme i datum posete, vreme koje ste proveli na tim stranicama i slična
      statistika.
    </p>
    <h2>Eksterni snabdevači usluga</h2>
    <p>
      Obaveštavamo Vas takođe da možemo angažovati eksternu kompaniju ili
      pojedince zarad nekih od sledećih razloga:
    </p>
    <ul>
      <li>Da bi time olakšali naše Servise;</li>
      <li>Da bi obezbedili Servis u naše ime;</li>
      <li>Da bi izvršili usluge vezane za Sajt i Aplikaciju;</li>
      <li>
        Da bi nam asistirali pri analiziranju načina kako se naš Servis koristi.
      </li>
    </ul>
    <p>
      Želimo da informišemo naše korisnike da ove eksterne strane imaju pristup
      Vašim personalnim informacijama. Razlog za to je da bi izvršili zadatke
      koji su im dodeljeni u naše ime. Međutim, oni su u obavezi da ne odaju ili
      iskoriste te informacije u bilo koje druge svrhe.
    </p>
    <h2>Bezbednost</h2>
    <p>
      Cenimo Vaše poverenje u pružanju Vaših ličnih podataka, pa nastojimo
      koristiti komercijalno prihvatljiva sredstva zaštite. Međutim, moramo Vas
      upozoriti da nijedan način prenošenja putem interneta ili način
      elektronskog skladištenja nije 100% siguran i pouzdan, i ne možemo
      garantovati njegovu apsolutnu sigurnost.
    </p>
    <h2>Linkovi do drugih internet stranica</h2>
    <p>
      Naš Sajt i Aplikacija mogu sadržati linkove do drugih internet stranica.
      Ako kliknete na eksterni link, bićete preusmereni na taj sajt. Primetite
      da ovi eksterni sajtovi nisu upravljani od strane nas. Stoga Vas
      savetujemo da pregledate i Pravila Privatnosti internet stranica na koje
      ste preusmereni. Mi nemamo kontrolu nad njima i ne preuzimamo nikakvi
      odgovornost za sadržaj, pravila privatnosti ili prakse eksternih sajtova
      ili servisa.
    </p>
    <h2>Dečija privatnost</h2>
    <p>
      Naše usluge se ne odnose na mlađe od 13 godina. Svesno ne prikupljamo
      lične podatke od dece mlađe od 13 godina. U slučaju da otkrijemo da nam je
      dete mlađe od 13 godina dostavilo lične podatke, odmah ih brišemo sa naših
      servera. Ako ste roditelj ili staratelj i svesni ste da nam je Vaše dete
      pružilo lične podatke, obratite nam se da bismo mogli da preduzmemo
      potrebne akcije.
    </p>
    <h2>Izmene ovih Pravila Privatnosti</h2>
    <p>
      S vremena na vreme je moguće ažuriranje Pravila Privatnosti, stoga Vam
      savetujemo da periodično ponovo pregledate ovu stranicu. Obaveštavaćemo
      Vas o svim promenama tako što ćemo na ovoj stranici objaviti nova Pravila
      Privatnosti. Sve promene Pravila Privatnosti stupaju na snagu odmah nakon
      objavljivanja na ovoj stranici.
    </p>
    <p>
      Ukoliko imate pitanja ili predloge u vezi naše Politike Privatnosti,
      slobodno nas kontaktirajte na
      <a href="mailto:konteh@eestecns.org">konteh@eestecns.org</a>.
    </p>

    <div class="mb-5">
      <button mat-flat-button color="warn" mat-dialog-close>Zatvori</button>
    </div>
  </div>
</div>
