@import "./../../../app/custom-theme.scss";
@import "../../colors.scss";
.logo {
  height: 3em;
  transition: all 0.3s;
  padding-top: 10px;

  &:hover {
    transform: scale(1.05);
  }
}

.mobile-menu .logo {
  height: 50px !important;
}

.header-container {
  position: relative;
  padding: 0.5em 0;
  background: var(--black-with-opacity);
  z-index: 99;
  // background: linear-gradient(90deg, $gradient-start, $gradient-end);
}

.header-content {
  margin: auto;
  width: 95%;

  @media (min-width: 1400px) {
    width: 80%;
  }
}



.navigation-item {
  padding: 10px;
  font-size: 18px;
  font-weight: 100 !important;
  transition: ease-in-out 0.3s;
  color: white !important;
  position: relative;
  bottom: -3px;
  transition: all 0.3s;

  &:hover {
    color: $light-blue;
  }
}

.selected {
  color: $light-blue !important;
  font-weight: 600;
}

$small: 300px;
$medium: 900px;

.wide-menu {
  display: none !important;

  @media (min-width: 1141px) {
    display: flex !important;
  }
}

.mobile-menu {
  display: none !important;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #020B29 !important;
  color:white !important;

  @media (max-width: 1140px) and (min-width: 0px) {
    display: flex !important;
  }
}

.mat-menu-panel {
  background: #020B29 !important; /* Mat-menu dropdown background */
  color: white !important; /* Text color for mat-menu items */
  border: 1px solid white; /* Optional: Adds a slight border */
}


.header-container-mobile {
  //background: linear-gradient(90deg, $gradient-start, $gradient-end);
  padding: 10px 10px;
  position: relative;
  background: #020B29 !important;
  z-index: 99;
}

.navigation-item-mobile {
  padding: 20px;
  font-size: 18px;
  font-weight: 100;
  color: white;
}

.navigation-item-mobile.selected {
  color: $blue !important;
}

.header-button {
  background: var(--primary-color) !important;
  margin-left: 20px;
}

.mat-icon {
  color: white;
  position: relative;
  bottom: 8px;
}

.mat-mdc-unelevated-button {
  --mdc-filled-button-container-color: var(--primary-color) !important; /* Your desired color */
  --mdc-filled-button-label-text-color: white !important; /* Text color */
}

.mat-mdc-unelevated-button.mat-accent {
  --mdc-filled-button-container-color: var(--primary-color) !important; /* Your desired color */
  --mdc-filled-button-label-text-color: white !important; /* Text color */
}

.mat-menu-content {
  background-color: #020B29 !important;
}

.mat-menu-item {
  color: white !important;

  &:hover {
    color: var(--primary-color) !important; /* Hover text color */
  }
}


::ng-deep .mat-menu-panel {
  background-color: #020B29 !important; /* Force the background color */
  color: white !important; /* Force the text color */
  border: 1px solid #ffffff33; /* Optional: Add a border */
  box-shadow: none !important; /* Remove Material shadow */
}

::ng-deep .mat-menu-item {
  color: white !important; /* Force the text color */
  font-size: 16px; /* Optional: Adjust font size */
}

::ng-deep .mat-menu-item:hover {
  background-color: #ffffff1a !important; /* Add hover effect */
  color: var(--primary-color) !important; /* Text color on hover */
}

.navbar-container .mat-menu{
  background-color: #020B29 !important;
}

::ng-deep .mat-mdc-menu-content {
  background-color: #020B29 !important;
  color: white !important;
  border: 1px solid white !important;
  box-shadow: none !important;
}


.mat-mdc-menu-content.mdc-list.ng-tns-c147-0 {
  background-color: #020B29 !important;
  border: 1px solid white !important;

  color: white !important;
}
