<div class="header-cover"></div>

<div
  class="is-flex is-flex-direction-column has-text-centered companies-section"
>
  <h1 class="company-title">Kompanije</h1>
  <div *ngIf="!showCompanies">
    <h2 class="alt-font">USKORO!</h2>

    <div>
      <button mat-flat-button color="primary" (click)="openHomepage()">
        Povratak na početnu stranicu
      </button>
    </div>
  </div>

  <div *ngIf="showCompanies" class="max-width-1200 auto-margin content">
    <div
      class="auto-margin stretch-width my-5 py-5"
      *ngIf="companies.length == 0"
    >
      <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="companies.length != 0" class="has-text-centered">
      <h3>Ekskluzivni pokrovitelj</h3>
      <p *ngIf="exclusiveCompany.name == ''" class="my-5">Uskoro!</p>
      <div
        class="exclusive-card company-card"
        *ngIf="exclusiveCompany.name != ''"
      >
        <exclusive-company-card
          [company]="exclusiveCompany"
        ></exclusive-company-card>
      </div>

      
      <h3>Dijamantni pokrovitelj</h3>
      <div>
        <p *ngIf="diamondCompanies.length == 0" class="my-5">Uskoro!</p>
        <div class="company-card" *ngFor="let company of diamondCompanies">
          <diamond-company-card [company]="company"></diamond-company-card>
        </div>
      </div>

      <h3>Platinum pokrovitelji</h3>
      <div>
        <p *ngIf="platinumCompanies.length == 0" class="my-5">Uskoro!</p>
        <div class="company-card" *ngFor="let company of platinumCompanies">
          <platinum-company-card [company]="company"></platinum-company-card>
        </div>
      </div>

      <h3>Zlatni pokrovitelji</h3>
      <div>
        <p *ngIf="goldCompanies.length == 0" class="my-5">Uskoro!</p>
        <div class="company-card" *ngFor="let company of goldCompanies">
          <gold-company-card [company]="company"></gold-company-card>
        </div>
      </div>

      <h3>Srebrni pokrovitelji</h3>
      <div>
        <p *ngIf="silverCompanies.length == 0" class="my-5">Uskoro!</p>
        <div class="company-card" *ngFor="let company of silverCompanies">
          <silver-company-card [company]="company"></silver-company-card>
        </div>
      </div>

      <h3>Bronzani pokrovitelji</h3>
      <div>
        <p *ngIf="bronzeCompanies.length == 0" class="my-5">Uskoro!</p>
        <div class="company-card" *ngFor="let company of bronzeCompanies">
          <bronze-company-card [company]="company"></bronze-company-card>
        </div>
      </div>
    </div>
  </div>
</div>
