@import "./../../../../app/custom-theme.scss";

.video-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.page_content{
  z-index: 10;
}

.companies-section {
  z-index: 10;
}

.company-title {
  color:white;
  margin: 40px auto 0 auto;
  letter-spacing: 0.2em;
  font-size: 2rem;
  text-transform: uppercase;
}

.companies-section h2 {
  font-size: 50px;
  line-height: 50px;
  font-weight: 600;
  color: $blue;
  margin: 40px auto 0 auto;
}

h3 {
  color: var(--primary-color);
  font-size: 22px;
  letter-spacing: 0.1em;
  margin-top: 20px;
  margin-bottom: 20px;

  @media (min-width: 430px) {

  font-size: 24px;
  }
}

.company-card {
  width: 300px;
  margin: 0px;
  display: inline-block;
  vertical-align: top;
  padding: 10px;
}

.exclusive-card {
  width: 300px !important;

  @media (min-width: 430px) {
    width: 400px !important;
  }
}

p {
  font-size: large;
  font-weight: bold;
}
