@import "./../../../../app/custom-theme.scss";

.contact-section {
}

.contact_title {
  color:white;
  margin: 30px auto;
  letter-spacing: 0.3em;
  font-size: 2rem;
}

.link{
  color: var(--primary-color);
}

.coordinators {
  text-align: center;
  display: inline;
}

.coordinator-card {
  width: 300px;
  margin: 0px;
  display: inline-block;
  vertical-align: top;
}

.button-section {
  margin-top: 50px;
  margin-bottom: 50px;
}

.button-section button {
  padding: 30px;
  border-radius: 20px;
  font-size: 18px;
}

.map-section {
  box-shadow: 0px 0px 10px gray;
}
