@import "./../../../../app/custom-theme.scss";

.video-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.page_content {
  position: relative;
  z-index: 2;
}

.contact-section {
}

.contact_title {
  z-index: 99;
  color:white;
  margin: 30px auto;
  letter-spacing: 0.3em;
  font-size: 2rem;
}



.link{
  color: var(--primary-color);
}

.coordinators {
  z-index: 1000;
  text-align: center;
  display: inline;
}

.coordinator-card {
  z-index: 1000;
  width: 300px;
  margin: 0px;
  display: inline-block;
  vertical-align: top;
}

.button-section {
  z-index: 1000;
  margin-top: 50px;
  margin-bottom: 50px;
}

.button-section button {
  padding: 30px;
  border-radius: 20px;
  font-size: 18px;
}

.map-section {
  box-shadow: 0px 0px 10px gray;
  z-index: 1000;
}
