@import "./../../../../../app/custom-theme.scss";

.card-container{
    margin-top: 30px;
    background-color: white;
    border-radius: 20px;
    padding: 60px;

    h1{
        font-size: 30px;
        font-weight: 600;
        margin: 0;
        margin-bottom: 35px;
        color: $gradient-start;

        @media (max-width: 425px) {
        font-size: 40px;
        line-height: 45px;
        }
    }

    @media (max-width: 850px) {
        p{
            text-align: justify;

        }
    }
}

.date{
    margin-top: 25px;
}

.lecturer-wraper{
  padding: 30px;
  margin-bottom: 20px;
}

button{
  padding: 12px;
  border-radius: 50px;
  color: white;
  border: none;

  &:hover {
    cursor: pointer;
    opacity: 0.85;
  }
}

img {
  width: auto;
  height: auto;
  margin: auto;
  max-width: 230px ;

  @media (max-width: 350px){
    max-width: 200px !important;
  }
//   max-height: 200px;
}

h2{
    margin-top: 30px;
    color: $blue;
    font-weight: bold;
    font-size: 23px;
}

h4 {
  margin-bottom: 0px;
  margin-left: 10px;
}

.departments mat-chip {
  background-color: $light-blue !important;
}

.tags mat-chip {
  background-color: $blue !important;
}

.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled)
  .mdc-evolution-chip__text-label {
  color: white !important;
}
