<div class="max-width-1200 auto-margin mt-5 pl-5">
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><a [routerLink]="['/']">KONTEH</a></li>
      <li><a [routerLink]="['/raspored']">Raspored</a></li>
    </ul>
  </nav>
</div>

<mat-spinner class="auto-margin m-5" *ngIf="schedule.title== ''"></mat-spinner>

<div class="card-container max-width-1200 auto-margin is-flex is-flex-direction-column">
  <div class="columns">
    <!-- Left column: Title and details -->
    <div class="column is-three-quarters">
      <h1>{{schedule.title}}</h1>
      <div class="is-flex is-flex-direction-row is-align-items-center location mb-3">
        <mat-icon>location_on</mat-icon>
        <h4>{{ schedule.location }}</h4>
      </div>
      <div class="is-flex is-flex-direction-row is-align-items-center location mb-3">
        <mat-icon>calendar_today</mat-icon>
        <h4>{{ schedule.startTime | date : "dd/MM/yyyy" }}</h4>
        <h4>{{schedule.startTime | date: "HH:mm"}} - {{schedule.endTime | date: "HH:mm"}}</h4>
      </div>
      <div class="is-flex is-flex-direction-row is-align-items-center location mb-3" *ngIf="trackName != ''">
        <button style="background-color: {{color}};"></button>
        <h4 style="color: {{color}};">{{trackName}}</h4>
      </div>
    </div>

    <!-- Right column: Logo -->
    <div class="column is-one-quarter" *ngIf="schedule.image != null && schedule.image != ''">
      <img class="logo-image" src="{{ schedule.image }}" alt="Event Logo">
    </div>
  </div>

  <h2
    *ngIf="schedule.content != null && schedule.content != ''"
    >
    {{descriptionTxt}}
  </h2>
  <p>{{schedule.content}}</p>

  <h2>{{lecturerTxt}}</h2>
  <div *ngIf="schedule.lecturers != null" class="lecturer-wraper">
    <div *ngFor="let lecturer of schedule.lecturers; let id = index">
      <lecturer-card [lecturer]="lecturer" [idx]="id"></lecturer-card>
    </div>
  </div>
  <h4 *ngIf="schedule.company != null" >{{schedule.company}}</h4>
</div>
<!-- </div> -->

