<div class="header-cover"></div>

<div class="max-width-1200 auto-margin mt-5 pl-5">
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><a [routerLink]="['/']">KONTEH</a></li>
      <li><a [routerLink]="['/kompanije']">Kompanije</a></li>
      <li class="is-active">
        <a href="#" aria-current="page">{{ company.name }}</a>
      </li>
    </ul>
  </nav>
</div>

<mat-spinner class="auto-margin m-5" *ngIf="company.name == ''"></mat-spinner>

<div class="p-2">
  <div
    class="card-container max-width-1200 auto-margin my-5"
    *ngIf="company.name != ''"
  >
    <div class="columns">
      <div class="column">
        <div class="is-flex is-flex-direction-column is-align-items-start">
          <h2>
            {{ company.name }}
          </h2>
          <a href="{{ company.website }}" target="_blank" class="mb-5">
            <button mat-flat-button color="primary" class="call-to-action">
              Poseti vebsajt
            </button>
          </a>
          <div
            class="social-icons is-flex is-flex-direction-row is-justify-content-space-between is-centered"
          >
            <a
              href="{{ company.facebookUrl }}"
              target="_blank"
              *ngIf="company.facebookUrl != undefined"
            >
              <button mat-icon-button class="social-button">
                <img
                  class="social-icon clickable"
                  src="../../../assets/facebook.png"
                />
              </button>
            </a>

            <a
              href="{{ company.instagramUrl }}"
              target="_blank"
              *ngIf="company.instagramUrl != undefined"
            >
              <button mat-icon-button class="social-button ml-5">
                <img
                  class="social-icon clickable"
                  src="../../../assets/instagram.png"
                />
              </button>
            </a>

            <a
              href="{{ company.linkedInUrl }}"
              target="_blank"
              *ngIf="company.linkedInUrl != undefined"
            >
              <button mat-icon-button class="social-button ml-5">
                <img
                  class="social-icon clickable"
                  src="../../../assets/linkedin.png"
                />
              </button>
            </a>
          </div>
        </div>
      </div>
      <div
        class="column is-4 is-flex is-flex-direction-column is-justify-content-center p-5 logo"
      >
        <img src="{{ company.logo.fields.file.url }}" />
      </div>
    </div>
    <div>
      <h1>Opis</h1>
      <div [innerHtml]="returnHtmlFromRichText(company.description)"></div>
      <hr />
    </div>
    <div>
      <h1>Prilike za studente</h1>
      <div
        [innerHtml]="returnHtmlFromRichText(company.studentOpportunities)"
      ></div>
      <hr />
    </div>
    <div>
      <h2>Tehnologije</h2>
      <div
        class="is-flex is-flex-direction-row is-align-items-start chips tags mt-5"
      >
        <div class="tags-container">
          <mat-chip color="accent" *ngFor="let tag of company.technologies">
            {{ tag }}
          </mat-chip>
        </div>
      </div>
    </div>

    <hr />

    <div>
      <h2 class="mb-5">Galerija</h2>
      <div>
        <lightgallery [settings]="settings">
          <a
            *ngFor="let image of company.gallery"
            [href]="image.fields.file.url"
          >
            <div class="square-image">
              <square-image [imgSrc]="image.fields.file.url"> </square-image>
            </div>
          </a>
        </lightgallery>
      </div>
    </div>

    <div
      class="stretch-width"
      *ngIf="company.youtubeUrl != undefined && company.youtubeUrl != ''"
    >
      <youtube-player [videoId]="company.youtubeUrl"> </youtube-player>
    </div>

    <div></div>
  </div>
</div>
