<div class="header">
  <video autoplay muted loop class="video-bg">
    <source src="/assets/background_video1.mp4" type="video/mp4">
  </video>
  <div class="overlay"></div>
  <div class="header-content">
    <h1>KONTEH</h1>
    <p class = "title-description">Najveći sajam poslovnih mogućnosti i praksi u regionu</p>
    <div class="event-info">
      <div class="akademski-title">
        <h3>Akademski Program</h3>
        <p>Naučno-tehnološki park <br> 14.5, 15.5, 16.5</p>
      </div>
      <div>
        <h3>Sajam</h3>
        <p>Fakultet Tehničkih nauka <br> 21.5, 22.5</p>
      </div>
    </div>
  </div>
</div>

<section class="akademski-program">
  <div class="content-wrapper">
    <div class="text-content">
      <h2>AKADEMSKI PROGRAM</h2>
      <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
        literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
        College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage,
        and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum
        comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by
        Cicero, written in 45 BC. This book is a treatise on the theory of ethics.</p>
    </div>
    <div class="image-content">
      <img src="assets/konteh14.jpg" alt="Akademski Program">
    </div>
  </div>
</section>


<section class="stats">
  <div>
    <h2>19</h2>
    <p>Godina postojanja</p>
  </div>
  <div>
    <h2>30+</h2>
    <p>Vodećih kompanija</p>
  </div>
  <div>
    <h2>16k</h2>
    <p>Posetilaca</p>
  </div>
</section>

<section class="sajam">
  <div class="content-wrapper">
    <div class="text-content">
      <h2>SAJAM</h2>
      <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
        literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
        College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage,
        and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum
        comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by
        Cicero, written in 45 BC. This book is a treatise on the theory of ethics.</p>
    </div>
    <div class="image-content">
      <img src="assets/konteh14.jpg" alt="Akademski Program">
    </div>
  </div>
</section>

<section class="ostavi-cv">
  <h2>OSTAVI CV</h2>
  <button mat-flat-button class="submit-cv">Prijavi se</button>
</section>
