/* General Styles */
.header {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  background: none !important;
}

.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.header-content {
  position: absolute;
  z-index: 3;
  max-width: 800px;
  padding: 20px;
}

.header-content h1 {
  font-size: 3.875rem;
  margin-bottom: 5vh;
  letter-spacing: 0.3em;
  font-weight: bold;
}

.header-content p {
  font-size: 1.375rem;
  margin-top: 10px;
}

.title-description {
  font-size: 22px;
}

/* Event Info Section */
.event-info {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 80px; /* Increased space between items */
}

.event-info div {
  text-align: center;
  margin-bottom: 20px;
}

.event-info div h3 {
  font-size: 1.9rem;
  font-weight: bold;
}

.event-info div p {
  font-size: 1.3rem;
}

@media (max-width: 768px) {
  .header-content{
    padding-top: 50px;
  }

  .header-content h1 {
    margin-bottom: 2vh;
    letter-spacing: 0.3em;
    font-weight: bold;
  }
  .header-content p {
    margin-top: 10px;
  }

  .event-info {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .akademski-title{
    margin-top: 20px;
  }


}

.akademski-program {
  background: #020B29;
  padding: 50px 20px;
  display: flex;
  justify-content: center;

  p {
    font-size: 16px;
  }


  h2 {
    color: white;
    font-size: 28px;
    font-weight: bold;
  }
}

@media (max-width: 768px) {
  .content-wrapper {
    flex-direction: column; /* Stack elements vertically */
    text-align: center; /* Center text for better readability */
  }

  .text-content {
    text-align: center; /* Align text to center on mobile */
  }

  .image-content {
    margin-top: 20px; /* Adds spacing between text and image */
  }

  .image-content img {
    max-width: 80%; /* Prevents image from being too large on mobile */
  }

  .ostavi-cv {
    p {
      width: 100% !important;
      text-align: center;
      margin: 0;
    }
  }

}

.content-wrapper {
  display: flex;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  gap: 40px; /* Space between text and image */
}

.text-content {
  flex: 1; /* Takes up remaining space */
  color: white;
  text-align: left;
}

.image-content {
  flex: 1; /* Equal width for text and image */
  display: flex;
  justify-content: center;
}

.image-content img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}


.sajam {
  padding: 50px 20px;
  text-align: center;
  display: flex;
  justify-content: center;

  background: linear-gradient(to bottom,
    #123B73 95%,  /* 95% of the background is this color */
    #123B73 98%,  /* Start transition */
    var(--dark-blue-primary) 100%);


  h2 {
    color: #3bc0f8;
    font-size: 28px;
    font-weight: bold;
  }

  p {
    font-size: 18px;
  }
}

/*#001f3f*/

.stats {
  display: flex;
  justify-content: space-around;
  background: linear-gradient(to bottom, #020B29, #123B73);
  color: white;
  padding: 40px 20px;

  div {
    text-align: center;

    h2 {
      font-size: 38px;
      font-weight: bold;
    }

    p {
      font-size: 22px;
    }
  }
}

.ostavi-cv {
  background: linear-gradient(to bottom,
    var(--dark-blue-primary) 90%,  /* 95% of the background is this color */
    var(--dark-blue-primary) 92%,  /* Start transition */
    rgb(0,0,0) 100%);
  color: white;
  text-align: center;
  padding: 50px 20px;

  h2 {
    font-size: 28px;
  }
  p {
    font-size: 18px;
    width: 50%;
    margin: 2rem auto;
    text-align: center;
  }
}


.submit-cv {
  background: var(--primary-color);
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  border: var(--primary-color) 2px solid;
  cursor: pointer;
  border-radius: 5px;

  &:hover {
    background: #001f3f;
    color: white;
  }
}
