body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  background: linear-gradient(to bottom, rgba(6, 32, 69, 0.8) 30%, rgba(0, 0, 0, 0) 100%) !important;
}

footer {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, var(--black-with-opacity) 100%) !important;
  margin-top: auto;
  z-index: 1000;
}
