@use "@angular/material" as mat;
@include mat.core();

$application-primary: (
  default: #26a9e1,
  lighter: #88cfef,
  darker: #117caa,
  text: white,
  text-light: #ececec,
);

$application-accent: (
  default: var(--primary-color),
  lighter: #93ddff,
  darker: #0d5773,
  text: #ffffff,
  text-light: #e2e4f8,
);

$application-warn: mat.define-palette(mat.$red-palette, 800, 700, 900);

$application-theme: mat.define-light-theme(
  (
    color: (
      primary: $application-primary,
      accent: $application-accent,
      warn: $application-warn,
    ),
  )
);

@include mat.all-component-themes($application-theme);

$default-background: var(--dark-blue-primary);
$text-color: #ffffff;
$blue: #26a9e1;
$light-blue: #d0e8f3;
$dark-blue: #117caa;
$gradient-start: var(--dark-blue-primary);
$gradient-end: var(--dark-blue-primary);
$orange: rgb(236, 114, 0);
$green: rgb(10, 161, 86);
