<div class="header-cover"></div>

<div class="is-flex is-flex-direction-column has-text-centered offers-section">
  <h1>Otvorene juiorske pozicije i prakse</h1>
  <div *ngIf="!showOffers">
    <h2 class="alt-font">USKORO!</h2>
    <div>
      <button mat-flat-button color="primary" (click)="openHomepage()">
        Povratak na početnu stranicu
      </button>
    </div>
  </div>

  <div *ngIf="showOffers">
    <mat-spinner
      class="auto-margin m-5"
      *ngIf="offers.length == 0"
    ></mat-spinner>

    <div *ngIf="offers.length != 0">
      <div *ngFor="let offer of offers" class="mt-5 max-width-1200 auto-margin">
        <offer-card [offer]="offer"></offer-card>
      </div>
    </div>
  </div>
</div>
