<div class="header-cover"></div>

<div class="is-flex is-flex-direction-column has-text-centered offers-section">
  <h1>Otvorene juiorske pozicije i prakse</h1>
  <div *ngIf="!showOffers">
    <h2 class="alt-font">USKORO!</h2>
    <div>
      <button mat-flat-button color="primary" (click)="openHomepage()">
        Povratak na početnu stranicu
      </button>
    </div>
  </div>

  <div *ngIf="showOffers">
    <div>
      <div
        class="is-flex is-flex-direction-row is-flex is-flex-direction-row is-align-items-center is-justify-content-space-between max-width-1000 auto-margin mt-5 form"
      >
        <div>
          <mat-form-field>
            <mat-label>Pretraga</mat-label>
            <input matInput type="text" [(ngModel)]="searchValue" />
            <button
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="searchValue = ''"
            >
              <mat-icon class="close-icon">close</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <div>
          <mat-button-toggle-group
            multiple
            #toggleGroup2="matButtonToggleGroup"
            [(ngModel)]="offerType"
          >
            <mat-button-toggle value="Posao">Posao</mat-button-toggle>
            <mat-button-toggle value="Placena praksa"
              >Plaćena praksa</mat-button-toggle
            >
            <mat-button-toggle value="Neplacena praksa"
              >Neplaćena praksa</mat-button-toggle
            >
          </mat-button-toggle-group>
        </div>
        <div>
          <button mat-flat-button color="accent" [matMenuTriggerFor]="menu">
            <div class="is-flex is-flex-direction-row is-align-items-center">
              Pogodni FTN smerovi
              <mat-icon>keyboard_arrow_down</mat-icon>
            </div>
          </button>
          <mat-menu #menu="matMenu">
            <div class="menu-container">
              <div *ngFor="let department of selectedDepartments">
                <mat-checkbox
                  (click)="$event.stopPropagation()"
                  [(ngModel)]="department.selected"
                  >{{ department.name }}</mat-checkbox
                >
              </div>
            </div>
          </mat-menu>
        </div>
        <div>
          <button
            mat-fab
            color="primary"
            matTooltip="Pretraga"
            class="mx-5"
            (click)="search()"
          >
            <mat-icon>search</mat-icon>
          </button>

          <button
            mat-fab
            color="info"
            matTooltip="Poništi pretragu"
            (click)="cancelSearch()"
          >
            <mat-icon>cancel</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <mat-spinner
      class="auto-margin m-5"
      *ngIf="offers.length == 0"
    ></mat-spinner>

    <div *ngIf="offers.length != 0">
      <div *ngIf="filteredOffers.length == 0" class="my-5 py-5">
        <p class="my-5 py-5">
          Nema ponuda koje odgovaraju datim kriterijumima.
        </p>
      </div>
      <div
        *ngFor="let offer of filteredOffers"
        class="mt-5 max-width-1200 auto-margin"
      >
        <offer-card [offer]="offer"></offer-card>
      </div>
    </div>

    <div
      class="auto-margin max-width-600 my-5 breadcrumb"
      *ngIf="filteredOffers.length != 0"
    >
      <nav class="pagination" role="navigation">
        <div class="auto-margin">
          <ul class="pagination-list">
            <li>
              <a class="pagination-link" aria-label="Goto page 1">1</a>
            </li>
            <li>
              <span class="pagination-ellipsis">&hellip;</span>
            </li>
            <li>
              <a class="pagination-link" aria-label="Goto page 45">45</a>
            </li>
            <li>
              <a
                class="pagination-link is-current"
                aria-label="Page 46"
                aria-current="page"
                >46</a
              >
            </li>
            <li>
              <a class="pagination-link" aria-label="Goto page 47">47</a>
            </li>
            <li>
              <span class="pagination-ellipsis">&hellip;</span>
            </li>
            <li>
              <a class="pagination-link" aria-label="Goto page 86">86</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
