<div class="header-cover"></div>

<div
  class="is-flex is-flex-direction-column has-text-centered schedule-section"
>
  <div *ngIf="!showSchedule">
    <h1>Raspored</h1>
    <p>
      Trenutno nema objavljenih rasporeda.
    </p>
  </div>
  <div *ngIf="showSchedule">
    <h1>Raspored</h1>

    <mat-spinner class="auto-margin my-5" *ngIf="scheduleLoading"></mat-spinner>
    <div class="max-width-1200 auto-margin column" *ngIf="!scheduleLoading">
      <div class="date-filter">
        <div class="date">
          <h3>6. mart</h3>
        </div>
        <div class="date">
          <h3>8. mart</h3>
        </div>
        <div class="date">
          <h3>9. mart</h3>
        </div>
      </div>

      <div *ngFor="let schedule of schedules">
        <div class="max-width-1200 auto-margin schedule-single">
          <schedule-card [schedule]="schedule"></schedule-card>
        </div>
      </div>
    </div>
  
  </div>
  
</div>
