<div
  class="is-flex is-flex-direction-column has-text-centered schedule-section"
>
  <video
    #bgVideo
    autoplay
    muted
    playsinline
    loop
    [attr.disableRemotePlayback]="true"
    [attr.x-webkit-airplay]="'deny'"
    class="video-bg"
  >    <source src="/assets/background_video1.mp4" type="video/mp4">
  </video>
  <div class="overlay"></div>
  <div *ngIf="schedules.length == 0">
    <h1 class="title">Raspored</h1>
    <p>
      Trenutno nema objavljenih rasporeda.
    </p>
  </div>
  <div class="page_content">

  <div *ngIf="schedules.length != 0">
    <h1 class = "title">Raspored</h1>

    <mat-spinner class="auto-margin my-5" *ngIf="scheduleLoading"></mat-spinner>
    <div class="max-width-1200 auto-margin column" *ngIf="!scheduleLoading">
      <div class="date-filter">
        <div class="date" (click)="filterSchedule(day1)"
          [ngClass]="{'active': scheduleStateService.selectedDate?.getTime() === day1.getTime()}"
        >
          <h3>18. MART</h3>
        </div>
        <div class="date" (click)="filterSchedule(day2)"
          [ngClass]="{'active': scheduleStateService.selectedDate?.getTime() === day2?.getTime()}"

        >
          <h3>19. MART</h3>
        </div>
      </div>

      <div *ngFor="let schedule of filteredSchedules">
        <div class="max-width-1200 auto-margin schedule-single">
          <schedule-card [schedule]="schedule"></schedule-card>
        </div>
      </div>

      <div *ngIf="filteredSchedules.length == 0">
        <p style="margin-top: 80px;">
          Nema objavljenih rasporeda za izabrani datum.
        </p>
      </div>
    </div>

  </div>

</div>
