@import "./../../../../app/custom-theme.scss";

.schedule-section {
  z-index: 1;
}

.title {
  color:white;
  margin: 40px auto;
  letter-spacing: 0.2em;
  font-size: 2rem;
  text-transform: uppercase;
}


.schedule-section h2 {
  font-size: 30px;
  line-height: 35px;
  font-weight: 600;
  color: $blue;
  margin: 40px auto;
}

.date-filter{
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.date{
  margin:0 10px;
  font-weight: 600;
  background-color: $gradient-start;
  color: white;
  cursor: pointer;
  border-radius: 7px;

  h3{
    margin: 0;
    padding: 5px 25px;

    @media(max-width: 410px){
      padding: 5px 15px !important;
    }
  }

  &:hover{
    background-color: $dark-blue;
  }
}


.active{
  background-color: var(--primary-color);

  &:hover{
    background-color: var(--primary-color) !important;
  }
}

.schedule-single{
  margin: 30px;
}

::ng-deep .cal-event-title {
  font-size: 14px;
  padding: 5px;
  white-space: normal;
}

::ng-deep .cal-week-view .cal-event-container:not(.cal-draggable) {
  cursor: default !important;
}
