<div class="header-cover"></div>

<div
  class="is-flex is-flex-direction-column has-text-centered schedule-section"
>
  <div *ngIf="schedules.length == 0">
    <h1 class="title">Raspored</h1>
    <p>
      Trenutno nema objavljenih rasporeda.
    </p>
  </div>
  <div *ngIf="schedules.length != 0">
    <h1 class = "title">Raspored</h1>

    <mat-spinner class="auto-margin my-5" *ngIf="scheduleLoading"></mat-spinner>
    <div class="max-width-1200 auto-margin column" *ngIf="!scheduleLoading">
      <div class="date-filter">
        <div class="date" (click)="filterSchedule(14)"
          [ngClass]="{'active': selectedDay == 14}"
        >
          <h3>14. MAJ</h3>
        </div>
        <div class="date" (click)="filterSchedule(15)"
          [ngClass]="{'active': selectedDay == 15}"

        >
          <h3>15. MAJ</h3>
        </div>
        <div class="date" (click)="filterSchedule(16)"
          [ngClass]="{'active': selectedDay == 16}"

        >
          <h3>16. MAJ</h3>
        </div>
      </div>

      <div *ngFor="let schedule of filteredSchedules">
        <div class="max-width-1200 auto-margin schedule-single">
          <schedule-card [schedule]="schedule"></schedule-card>
        </div>
      </div>

      <div *ngIf="filteredSchedules.length == 0">
        <p style="margin-top: 80px;">
          Nema objavljenih rasporeda za izabrani datum.
        </p>
      </div>
    </div>

  </div>

</div>
