@import "./../../../../app/custom-theme.scss";

.schedule-section {
  z-index: 1;
}

.schedule-section h1 {
  font-size: 55px;
  line-height: 60px;
  font-weight: 500;
  margin: 20px auto;

  @media (max-width: 425px) {
    font-size: 40px;
    line-height: 45px;
  }
}

.schedule-section h2 {
  font-size: 30px;
  line-height: 35px;
  font-weight: 600;
  color: $blue;
  margin: 40px auto;
}

.date-filter{
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.date{
  margin:0 10px;
  font-size: 24px;
  font-weight: 600;
  background-color: $gradient-start;
  color: white;
  cursor: pointer;
  border-radius: 7px;
}

.date h3{
  margin: 0;
  padding: 5px 25px;
}

.schedule-single{
  margin: 30px;
}

::ng-deep .cal-event-title {
  font-size: 14px;
  padding: 5px;
  white-space: normal;
}

::ng-deep .cal-week-view .cal-event-container:not(.cal-draggable) {
  cursor: default !important;
}
