
<div (click)="route()" class="card-dontainer">
    <div class="columns">
      <div class="column">
        <div class="is-flex is-flex-direction-column is-align-items-start">
          <h2>
            {{ schedule.title }}
          </h2>
          <div
            class="is-flex is-flex-direction-row is-align-items-center location mb-3"
          >
            <mat-icon>location_on</mat-icon>
            <h4> {{ schedule.location }}</h4>
          </div>
          <div
            class="is-flex is-flex-direction-row is-align-items-center location mb-3"
          >
            <mat-icon>calendar_today</mat-icon>
            <h4> {{ schedule.startTime | date : "dd/MM/yyyy" }}</h4>
            <h4> {{schedule.startTime | date: "HH:mm"}} - {{schedule.endTime | date: "HH:mm"}}</h4>
          </div>
          <div
            class="is-flex is-flex-direction-row is-align-items-center location mb-3"
            *ngIf="trackName != ''"
          >
          <button style="background-color: {{color}};">
            </button>
            <h4 style="color: {{color}};">{{trackName}}</h4>
          </div>
        </div>
      </div>
      <div
        class="is-4 is-flex is-flex-direction-column "
        *ngIf="schedule.image != null && schedule.image != ''"
        >
        <img src="{{ schedule.image }}" />
      </div>
    </div>
  </div>
