<a routerLink="/aktivnost/{{ activity.id }}">
  <div class="card-container">
    <div class="columns">
      <div class="column">
        <div class="is-flex is-flex-direction-column is-align-items-start">
          <h2>
            {{ activity.name }}
          </h2>
          <div
            class="is-flex is-flex-direction-row is-align-items-center location mb-3"
          >
            <mat-icon>location_on</mat-icon>
            <h4> {{ activity.location }}</h4>
          </div>
          <div
            class="is-flex is-flex-direction-row is-align-items-center location mb-3"
          >
            <mat-icon>calendar_today</mat-icon>
            <h4 *ngFor="let date of activity.dates; let i = index"> {{ date | date : "dd/MM/yyyy" }}{{(i < activity.dates.length-1?", ":"")}}</h4>
          </div>
        </div>
      </div>
      <div
        class="is-flex is-flex-direction-column "
      >
        <img src="{{ activity.photo }}" />
      </div>
    </div>
  </div>
</a>
